{% extends 'base.html' %}
{% block body %}
    <form>
    <div class="container text-center">
        <h1>{{ titulo }}</h1>
        <div class="form-group" class="col-sm-2 col-form-label">
            <div class="container text-left">
                <label for="codigo">Codigo:</label></div>
            <input type="text" class="form-control" placeholder="codigo" id="codigo">
            <div class="container text-left">
                <label for="descripcion">Tiempo:</label></div>
            <input type="text" class="form-control" id="tiempo">
            <div class="container text-left">
                <label for="descripcion">Precio:</label></div>
            <input type="decimal" class="form-control" id="precio">
            <div style="text-align: center;"><button type="submit" class="btn btn-primary" id="guardar" >Registrar</button></div>
        </div>
    </div>
    </form>
    <script>
    const boton=document.getElementById('guardar');
    const nameUser=document.getElementById('codigo');
    const correo=document.getElementById('tiempo');
    const contra=document.getElementById('precio');
    boton.addEventListener('click',() =>{
         fetch('http://127.0.0.1:8000/api/v1/Tarifas/', {
        method: 'POST',
        body:JSON.stringify({
            codTarifa:nameUser.value,
            tiempoTarifa:correo.value,
            precioTarifa:contra.value
        }),
        headers:{
            'Content-Type':'application/json'
        }
        })
        window.location.href='http://127.0.0.1:8000/tarifas'



    })

    </script>
{% endblock %}